<h2>Pagina para restablecer contraseña</h2>
<p>Ingresa tu nueva contraseña</p>
<form method="post" action="/api/session/restartPassword?token={{token}}">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="nueva contraseña" name="password"/>
    <br/><br/>
    <button type="submit">Restablecer contraseña</button>
</form>
<hr>

<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Restablecer contraseña</h1>
                <form method="post" action="/api/session/restartPassword?token={{token}}">
                    <div class="mb-3">
                        <label for="email" class="form-label">Ingrese su correo:</label>
                        <input type="email" class="form-control" placeholder="correo" placeholder="correo@example.com" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Ingrese su  nueva contraseña:</label>
                        <input type="password" class="form-control" placeholder="nueva contraseña" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Restablecer contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>